<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span><h2><strong>TakeATrip</strong></h2></span> 
        Takeatrip is a one stop solution that furnishes an expanse of data-based travel discovery at your disposal. So get connected for an inclusive experience of Smart Bus booking, Food on Train service, Train Ticket booking & journey information   </p>
      <div class="icons">
        <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a>
        <a href="www.google.com"><i class="fa fa-google-plus"></i></a>
        <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span> 1st block,Rajajinagar </span> Bangalore, India</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p> 080 - 333 777</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="#"> support@takeatrip.com</a></p>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
     <br>

      <p class="menu">
        <a href="#"> Home</a> |
        <a href="#"> About</a> |
        <a href="#"> Services</a> |
        <a href="#"> Contact</a>
      </p>
      
    </div>
    <p class="name"> TakeATrip  &copy; 2021</p>
  </footer>
</section>
  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
</body>
</html>